<div class="container">

  <!--<div class="row">-->
  <!--  <h4><!--%= render "public/shared/error_messages", resource: @tag %></h4>-->
  <!--  <h4 class="text-primary">-->
  <!--    <!--%= render "public/shared/success_messages" %>-->
  <!--  </h4>-->
  <!--</div>-->

  <div class="row">
    <div class="col-md-4 text-center">
      <div class="mt-3">
        <h3>タグ一覧・追加</h3>
      </div>
    </div>
  </div>

  <%= form_with model: @tag, url: admin_tags_path, local: true do |f| %>
  <table>
    <tr>
      <th class='col-md-3'>
        <%= f.label :name,'タグ名' %>
      </th>
      <th class='col-md-6'>
        <%= f.text_field :name, :placeholder=>'タグ名' %>
      </th>
      <th class='col-md-3'>
        <%= f.submit '新規登録',class: 'btn btn-sm btn-success' %>
      </th>
    </tr>
  </table>
  <% end %>

  <table class="mt-3 ">
    <thead>
      <tr>
        <th class="col-md-2">タグ</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
      <tr>
        <td class="col-md-3"><%= tag.name %></td>
        <td class="col-md-2"><%= link_to '編集する',edit_admin_tag_path(tag),class: "btn btn-sm btn-success" %></td>
        <td class="col-md-6"><%= link_to '削除',admin_tag_path(tag),method: :delete,class: "btn btn-sm btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
